* {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: space-between;
}
.site-logo {
  display:flex;
  font-family: "Montserrat",sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #95e1d3;
  transition: color 200ms linear;
}
.site-logo:hover {
  color: #f38181;
}
.navigation {
  display: flex;
  list-style: none;
  min-width: 490px;
  justify-content: space-between;
}
.navigation a {
  color: #95e1d3;
  transition: color 200ms linear;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  display: block;
  text-decoration: none;
}
.navigation a:hover {
  color: #f38181;
}
.navigation a::after {
  display: flex;
  background-color: #f38181;
  content: "";
  min-width: 35px;
  max-width: 70px;
  height: 3px;
  opacity: 0;
  margin: 5px 0;
  transition: opacity 200ms linear, color 200ms linear;
}
.navigation a:hover::after {
  background-color: #f38181;
  opacity: 1;
}

.heading {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 100px;
  padding-top: 90px;
  color: #333333;
}
span {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  display: block;
  padding-top: 10px;
  color: #333333;
}
.heading::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: #f38181;
  display: block;
  margin: 25px auto;
}
.service {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}
.heading-li {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-transform: uppercase;
}
.text-li {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}
.service li {
  width: 380px;
  padding-left: 80px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position-x: 7%;
  margin-bottom: 100px;
}

.service li:nth-child(n + 4) {
  margin-bottom: 0px;
}
.li-1 {
  background-image: url("../img/png/service/ALARM.png");
}
.li-2 {
  background-image: url("../img/png/service/LINE_GRAPH.png");
}
.li-3 {
  background-image: url("../img/png/service/COMPUTER_OK.png");
}
.li-4 {
  background-image: url("../img/png/service/BOOK_2.png");
}
.li-5 {
  background-image: url("../img/png/service/HOME.png");
}
.li-6 {
  background-image: url("../img/png/service/IMAGE.png");
}
.team {
  margin-bottom: 85px;
}
.text-team {
  max-width: 980px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 95px;
  color: #999999;
}
.our_team {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}
.card{
  width: 380px;
}
.img {
  position: relative;
  background: #95e1d3;
  margin-bottom: 30px;
  transition: transform 2000ms linear;
}
.img img{
  display: block;
}

.card:hover img {
  transform: translate(-10px, -10px);
  opacity: 1;
  transition: transform 300ms linear;
}
.card:hover .grad {
  transform: translate(-10px, -10px);
  opacity: 1;
}

.our_team li {
  position: relative;
}

.grad {
  background: linear-gradient(
    rgba(243, 129, 129, 0.8),
    rgba(252, 227, 138, 0.8)
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 800ms linear;
}

.back {
  display: flex;
  
  list-style: none;
}

.back li {
  width: 50px;
  height: 50px;
  background-color: #fce38a;
}
.facebook {
  background-image: url("../img/png/team/facebook.png");
  background-repeat: no-repeat;
  background-position: center;
  border-right: 1px solid #f9bd87;
  
}
.instagram {
  background-image: url("../img/png/team/instagram.png");
  background-repeat: no-repeat;
  background-position: center;
  
}
.pinterest {
  background-image: url("../img/png/team/pinterest.png");
  background-repeat: no-repeat;
  background-position: center;
  border-right: 1px solid #f9bd87;
}
.twitter {
  background-image: url("../img/png/team/twitter.png");
  background-repeat: no-repeat;
  background-position: center;
  border-right: 1px solid #f9bd87;
}
.facebook:hover,
.instagram:hover,
.pinterest:hover,
.twitter:hover {
  background-color: #95e1d3;
  
}
.team-name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-transform: uppercase;
}
.team-profi {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  color: #999999;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 62px;
  border-top: 1px solid rgb(204, 204, 204);
}
.signature {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  transition: color 200ms linear;
}
.signature a{
  text-decoration: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #f38181;
}
.footer-email::placeholder{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #cccccc;
  font-style: italic;
  padding-left: 10px;

}

.footer-email {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  width: 230px;
  height: 40px;
  border: 1px solid #cccccc;
  border-right: 0px;
  font-size: 15px;
  line-height: 24px;
  color: #1d1e20 ;
   font-family: "Roboto", sans-serif;
  
}


.footer-botton {
  width: 150px;
  height: 45px;
  background: #95e1d3;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: -7px;
  text-align: center;
}







