* {
  margin: 0;
  padding: 0;
}

/*header*/
.container {
  width: 1110px;
  margin: 0 auto;
}
nav {
  display: inline-block;
}

.navigation {
  display: inline-block;
  width: 1029px;
  vertical-align: middle;
  list-style: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 11px;
  text-align: right;
  margin-left: -4px;
}
.navigation li {
  display: inline-block;
}
.navigation li:not(:last-child) {
  margin-right: 25px;
}
.menu-nav {
  display: block;
  color: #000000;
  text-decoration: none;
}
.menu-nav:hover {
  color: #1abc9c;
}
.logo {
  display: inline-block;
  vertical-align: middle;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: lighter;
  text-transform: uppercase;
  text-decoration: none;
}
.logo:hover{
  color: #1abc9c;
}
.logo::first-letter {
  color: #1abc9c;
  text-transform: capitalize;
  font-weight: bold;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
}

/*header*/

/* main */

/* section */

.slider {
 position: relative;
 width: 100%;
 height: 600px;
 background-color: #000000;

}
.slider:hover{
  background-color: rgda(0, 0, 0, 0.52);
  opacity: 1;
}

.sl{
  width: 100%;
  height: 600px;
}

.header-slide {
  font-family: "Roboto black", sans-serif;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: -1.24px;
}
.text-slide {
  font-family: "Roboto light", sans-serif;
  font-size: 24px;
  line-height: 54px;
  letter-spacing: -0.48px;
}
.slide-arrow {
  position: absolute;
  width: 810px;
  z-index: 1;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.angle-slide {
  position: absolute;
  font-size: 100px;
  line-height: 11px;
  top: 245px;
  left: 245px;
  /* color: #ffffff; */
  
}

 .pe-7s-angle-left:hover,
 .pe-7s-angle-right:hover {
  width: 105px;
  height: 105px;
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
  z-index: 2;
}

.pe-7s-angle-left {
  margin-right: 910px;
  color: #ffffff;
  background-color: transparent;
  /* width: 105px;
  height: 105px; */
  /* font-size: 100px;
  line-height: 11px;*/
  /* background-color: rgb(78, 198, 171);
  opacity: 0.651; */
}

 .pe-7s-angle-right {
  color: #ffffff;
  background-color: transparent;
 /* width: 105px;
  height: 105px;
  font-size: 100px;
  line-height: 11px;
  background-color: rgb(78, 198, 171);
  opacity: 0.651;*/
} 

/* section title */

.title {
  /* background-color: rgb(233, 240, 253); */
  padding-top: 50px;
  padding-bottom: 100px;

}


.collection {
  position: relative;
  font-family: "Roboto black", sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #515151;
  text-align: center;
  letter-spacing: -0.1em;
  margin-bottom: 40px;
}
.collection::after {
  content: "";
  height: 7px;
  width: 210px;
  background-color: #4ec6ab;
  display: block;
  margin: 0 auto;
}

.item-block {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  max-width: 255px;
  margin-left: -4px;
}
.item-block:hover .name-item,
.item-block:hover .price-item {
  background: #1abc9c;
}
.item-block:nth-child(4n) {
  margin-right: 0px;
}

.item-block:hover .img::before {
  background-color: rgb(0, 0, 0);
  opacity: 0.549;
}
.item-block:hover .icon{
  z-index: 2;
}
.item-block:hover .pe-7s-cart{
  z-index: 3;
}

.img::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 235px;
  height: 265px;
  z-index: 1;
}


.icon{
  width: 100%;
  height: 100%;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.64px;
  text-align: center;
  padding-bottom: 5px;
  position: absolute;
  top: 90px;
  z-index: -1;
  color: #ffffff;
  }
  
  .pe-7s-like::before, .pe-7s-shuffle::before,.pe-7s-clock::before,.pe-7s-cart::before {
    content: '';
    display: inline-block;
    padding-top: 3px;
    vertical-align: middle;
  }
   .pe-7s-like, .pe-7s-shuffle, .pe-7s-clock{
    width: 50px;
    height: 50px;
    border: solid 1px;
    
  } 
  .pe-7s-like:hover, 
  .pe-7s-shuffle:hover,
  .pe-7s-clock:hover
  {
    background: #1abc9c;
  }
  .pe-7s-cart:hover{
    background: #1abc9c;
  
  }
  
  .pe-7s-cart{
  position: absolute;
  top: 145px;
  left: 42px;
  width: 170px;
  height: 50px;
  z-index: -2;
  border: solid 1px;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.64px;
  text-align: center;
  background-color: #323232;
  color: #ffffff;
  }
  
  .cart{
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -0.28px;
    vertical-align: middle;
    color: #ffffff;
  
  }

 

.name-item {
  padding: 14px;
  font-family: "Roboto black", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.price-item {
  text-align: center;
  padding: 14px 0;
  font-family: "Roboto black", sans-serif;
  font-size: 18px;
  color: #ffffff;
}
.img {
  width: 255px;
  height: 285px;
  position: relative;
}

.name-item {
  float: left;
  width: 172px;
  background-color: #323232;
}
.price-item {
  display: inline-block;
  width: 55px;
  background: #8c8c8c;
}

footer {
  background-color: #323232;
  width: 100%;
  height: 90px;
}
.signature {
  font-family: "OpenSans";
  font-size: 16px;
  line-height: 1.75;
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
}
.signature:hover {
  color: #45b8a3;
}

