* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1600px;
  margin: 0 auto;
}
/*header*/
nav {
  display: inline-block;
  width: calc(70% - 4px);

}

.navigation {
  display: inline-block;
  width: 460px;
  list-style: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 11px;
  padding-top: 10px;
  
  /* padding-right: 245px; */
}
.navigation li {
    display: inline-block;
}
.navigation li:not(:last-child) {
  margin-right: 25px;
}
a {
  display: block;
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}
.logo {
  width: 30%;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: lighter;
  text-transform: uppercase;
  
  /* padding-left: 245px; */
  /* padding-right: 565px;  */
}
.logo::first-letter {
  color: #1abc9c;
  text-transform: capitalize;
  font-weight: bold;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
}

/*header*/

/* main */
/* section */
.slider {
  position: relative;
  
}

.fond {
  width: 100%;
  position: absolute;
}
.image {
  position: absolute;
  opacity: 0.52;
  width: 100%;

}
.header-slide{
  position: absolute;
  font-size: 60px;
  line-height: 82px;
  color: #ffffff;
  top: 215px;
  left: 434px;
  /* transform: translate(-50% -50%); */
}
p{
  position: absolute;
  font-size: 24px;
  line-height: 54px;
  color: #ffffff;
  top: 300px;
  left: 434px;
}
/* .slide-arrow {
  position: absolute;
  z-index: 1;
  width: 100%;
  color: #ffffff;
} */

/* .pe-7s-angle-left {
  display: inline-block;
  width: 105px;
  height: 105px;
  font-size: 100px;
  line-height: 11px;
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
  
}

.pe-7s-angle-right {
  display: inline-block;
  width: 105px;
  height: 105px;
  font-size: 100px;
  line-height: 11px;
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
} */
.
