* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 1600px;
  margin: 0 auto;
}
/*header*/
nav {
  float: right;
}

.navigation {
  width: 460px;
  list-style: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 11px;
  padding-top: 10px;
  padding-right: 245px;
}
.navigation li {
  float: left;
}
.navigation li:not(:last-child) {
  margin-right: 25px;
}
a {
  display: block;
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}
.logo {
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: lighter;
  text-transform: uppercase;
  padding-left: 245px;
}
.logo::first-letter {
  color: #1abc9c;
  text-transform: capitalize;
  font-weight: bold;
}
header::after {
  content: "";
  clear: both;
  display: block;
}
header {
  padding-top: 40px;
  padding-bottom: 40px;
}

/*header*/

/* main */
/* section */
.slider {
  position: relative;
  padding-bottom: 100px;
}
img {
  position: absolute;
}
.image {
  opacity: 0.52;
}
.pe-7s-angle-left {
  width: 105px;
  height: 105px;
  font-size: 100px;
  line-height: 11px;
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
  
}

.pe-7s-angle-right {
  width: 105px;
  height: 105px;
  font-size: 100px;
  line-height: 11px;
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
}
.slide-arrow {
  position: absolute;
  display: inline-block;
  z-index: 1;
  width: 1110px;
  color: #ffffff;

}
