html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: 'Playfair Display', sans-serif;
    color: black;
    font-size: 14px;
    line-height: 24px;
}
.container{
     width: 900px;
     margin: 0 auto;
}
nav{
    text-align: center;
}
.navigation{
    margin: o;
    padding: 0;
    font-size: 0;
    display: block;
}
.navigation li{
    list-style: none;
    display: inline-block;
}
.navigation li:not(:last-child){
    margin-right: 120px;
}
.navigation a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}
    
a:hover{
    color: #03a9f4;
}

header{
    padding-top: 70px;
    padding-bottom: 90px;
}
section{
    margin: 0px;
    padding: 0px;
    font-size: 0;
}

article{
    display: inline-block;
    width: 420px;
    margin-right: 60px;
}
article:nth-child(2n){
    margin-right: 0px;
}

article h3{
    margin: 0;
    font-size: 30px;
    margin-bottom: 38px;
}
article p{
    margin: 0;
    font-size: 14px;
    margin-bottom: 26px
}

button{
    font-size: 20px;
    width: 164px;
    height: 60px;
    margin-top: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button:hover{
    color: #03a9f4;
}