/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin/montserrat-v14-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin/montserrat-v14-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin/montserrat-v14-latin-700.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin/montserrat-v14-latin-700.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v11-latin/roboto-slab-v11-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v11-latin/roboto-slab-v11-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Droid Serif */
@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/Droid-Serif-V2/Droid-Serif-V2.woff2") format("woff2"),
    url("../fonts/Droid-Serif-V2/Droid-Serif-V2.woff") format("woff");
}

@font-face {
  font-family: "Wisdom Script AI";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/Wisdom-Script-AI/Wisdom-Script-AI.woff2") format("woff2"),
    url("../fonts/Wisdom-Script-AI/Wisdom-Script-AI.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
}
.container {
  width: 940px;
  margin: 0 auto;
}
body {
  width: 100%;
  height: 100%;
}
.site-logo {
  display: flex;
  font-family: "Wisdom Script AI";
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-size: 26px;
  line-height: 41px;
  color: #000000;
  transition: color 200ms linear;
}
.site-logo:hover {
  color: #fed136;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 55px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  min-width: 485px;
}
.navigation a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  text-decoration: none;
  color: #000000;
  transition: color 200ms linear;
}
.navigation a:hover {
  color: #fed136;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  padding-top: 100px;
  padding-bottom: 25px;
}
.subhead {
  text-align: center;
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #777777;
  padding-bottom: 75px;
}
.content {
  display: flex;
  justify-content: space-between;
  min-height: 334px;
}
.content li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  text-align: center;
  min-height: 230px;
  margin-bottom: 120px;
}
.content h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  padding-bottom: 20px;
  color: #222222;
}
.content p {
  font-family: "Droid Serif";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.35px;
  color: #777777;
}
.icon-1::before, .icon-2::before, .icon-3::before{
  content: '';
  display: block;
  width: 74px;
  height: 74px;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid #fed136;
  border-radius: 50%;
}

.icon-1::before {
  background-image: url('../img/Icon-Basket.png');
  
}
.icon-2::before{
  background-image: url('../img/Icon-Laptop.png');
}
.icon-3::before{
  background-image: url('../img/Icon-Locked.png');
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background-image: url('../img/Map_Image.png');
  background-repeat: no-repeat;
  background-position: right;
  min-height: 675px;
}

